Source: kafka-event-mirrorer
Section: contrib/net
Priority: optional
Maintainer: Benjamin Reed <ranger@opennms.org>
Build-Depends: debhelper (>=9), oracle-java8-installer | openjdk-8-jre | openjdk-8-jre-headless | java8-jre | java8-jre-headless
Standards-Version: 3.9.6
Homepage: https://github.com/OpenNMS/kafka-event-mirrorer.git
Vcs-Git: https://github.com/OpenNMS/kafka-event-mirrorer.git
Vcs-Browser: https://github.com/OpenNMS/kafka-event-mirrorer

Package: kafka-event-mirrorer
Architecture: any
Depends: ${misc:Depends}, oracle-java8-installer | openjdk-8-jre | openjdk-8-jre-headless | java8-jre | java8-jre-headless, adduser
Description: Forward OpenNMS Events Between Kafka Instances
 This package contains a tool for forwarding OpenNMS events from one
 Kafka instance to another, optionally filtering them.
