#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1


# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed


%:
	dh $@ 

override_dh_clean:
	dh_clean
	rm -f debian/kafka-event-mirrorer.init

override_dh_install:
	# jar and find-java bin
	install -d -m 0755 debian/kafka-event-mirrorer/usr/share/kafka-event-mirrorer
	cp -pr bin lib debian/kafka-event-mirrorer/usr/share/kafka-event-mirrorer/
	
	# SysV init
	install -d -m 755 debian/kafka-event-mirrorer/etc/default
	sed -e 's,@INSTPREFIX@,/usr/share/kafka-event-mirrorer,g' \
		-e 's,@SYSCONFDIR@,/etc/default,g' \
		-e 's,^.*PIDFILE=.*$$,PIDFILE=/var/lib/kafka-event-mirrorer/kafka-event-mirrorer.pid,' \
		etc/kafka-event-mirrorer.init > debian/kafka-event-mirrorer.init
	sed -e 's,@INSTPREFIX@,/usr/share/kafka-event-mirrorer,g' \
		-e 's,@SYSCONFDIR@,/etc/default,g' \
		-e 's,^.*CONFFILE=.*$$,CONFFILE=/etc/kafka-event-mirrorer.yaml,' \
		-e 's,^.*PIDFILE=.*$$,# PIDFILE=/var/lib/kafka-event-mirrorer/kafka-event-mirrorer.pid,' \
		-e 's,^.*RUNAS=.*$$,RUNAS=debian-opennms-kem,' \
		etc/kafka-event-mirrorer.conf > debian/kafka-event-mirrorer/etc/default/kafka-event-mirrorer
	chmod 0755 debian/kafka-event-mirrorer.init
	chmod 0640 debian/kafka-event-mirrorer/etc/default/kafka-event-mirrorer
	
	# Example Config
	install -d -m 0755 debian/kafka-event-mirrorer/etc
	install -c -m 0640 etc/example-config.yaml debian/kafka-event-mirrorer/etc/kafka-event-mirrorer.yaml

override_dh_strip_nondeterminism:

# dh_make generated override targets
# This is example for Cmake (See https://bugs.debian.org/641051 )
#override_dh_auto_configure:
#	dh_auto_configure -- #	-DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH)

